<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392244741670-pm6llrjor554hetdb7eqgi3djdpq86u7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392244741670-pm6llrjor554hetdb7eqgi3djdpq86u7</string>
	<key>API_KEY</key>
	<string>AIzaSyDTnAptH-ekAIxQP9fcgWnEOyHq4GZWbh4</string>
	<key>GCM_SENDER_ID</key>
	<string>392244741670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harold.store</string>
	<key>PROJECT_ID</key>
	<string>harold-premium-lights</string>
	<key>STORAGE_BUCKET</key>
	<string>harold-premium-lights.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392244741670:ios:7ab77583898945867c08e7</string>
</dict>
</plist>